
# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr
# http://www.faqs.org/docs/securing/chap15sec122.html 

# The strategy used for options in the default sshd_config shipped wit
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the default value.

#=================== Ports / IPs =======================#
Port {{ssh_port}}
Protocol 2 

# Enable PrivilegeSeperation for protection
# http://www.citi.umich.edu/u/provos/ssh/privsep.html
UsePrivilegeSeparation yes

#=================== Algorithms  =======================#

KexAlgorithms {{ kex_algorithms }}
Ciphers {{ ciphers }}
MACs {{ macs }}
HostKey /etc/ssh/ssh_host_rsa_key

#=================== Authentication  =======================#
LoginGraceTime 120
PermitRootLogin no
StrictModes yes

# The option RSAAuthentication specifies whether to try RSA authentication. This option must be set to yes for better security in your
# sessions. RSA use public and private key pairs created with the ssh-keygen1utility for authentication purposes.
RSAAuthentication yes


PubkeyAuthentication yes

# The option IgnoreRhosts specifies whether rhosts or shosts files should not be used in authentication.
# For security reasons it is recommended to no use rhosts or shosts files for authentication.
IgnoreRhosts yes


# The option RhostsAuthentication specifies whether sshd can try to use rhosts based authentication. Because rhosts authentication is insecure you shouldn't use this option.
# ***Warning*** You will host keys in /etc/sshd_known_hosts
RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication no

# Allow X11 Fowarding to access X server applications
X11Forwarding {{x11forwarding}}
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*
