## mpdscribble - an audioscrobbler for the Music Player Daemon.
## https://www.musicpd.org/clients/mpdscribble/

# HTTP proxy URL.

# The location of the pid file.  mpdscribble saves its process id there.
pidfile = /var/run/mpdscribble.pid

# Change to this system user after daemonization.
daemon_user = mpd

# The location of the mpdscribble log file.  The special value
# "syslog" makes mpdscribble use the local syslog daemon.  On most
# systems, log messages will appear in /var/log/daemon.log then.
# "-" means log to stderr (the current terminal).
#log = syslog

# How verbose mpdscribble's logging should be.  Default is 1.
verbose = 1

# How often should mpdscribble save the journal file? [seconds]
#journal_interval = 600

# The host running MPD, possibly protected by a password
# ([PASSWORD@]HOSTNAME).  Defaults to $MPD_HOST or localhost.
host = {{ mpd_host }}

# The port that the MPD listens on and mpdscribble should try to
# connect to.  Defaults to $MPD_PORT or 6600.
port = 6600

[last.fm]
url = http://post.audioscrobbler.com/
username = {{ last_fm_username }}
password = {{ last_fm_password }}

# The file where mpdscribble should store its Last.fm journal in case
# you do not have a connection to the Last.fm server.
journal = /var/cache/mpdscribble/lastfm.journal

[libre.fm]
url = http://turtle.libre.fm/
username = {{ libre_fm_username }}
password = {{ libre_fm_password }}

[file]
file = /var/log/mpd/scribble.log
